<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
      </assemblies>
    </compilation>
    <httpRuntime/>
    <sessionState mode="InProc" timeout="120"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ltcService.LTCService" value="http://10.30.6.95:6848/LTCService.asmx"/>
    <add key="sms.ServiceSMS" value="http://10.30.6.98:1516/ServiceSMS.asmx"/>
    <add key="API.SMS" value="http://10.30.6.37:1234/SMS.asmx"/>
    <add key="sms.smservice" value="http://10.30.6.95:5672/smservice.asmx"/>
  <add key="SMSAPI.smservice" value="http://10.30.6.37:3636/smservice.asmx"/>
  </appSettings>
</configuration>